.order-items {
  width: 100%;
  margin-bottom: 50px;
  
  .order-details {
    margin-bottom: 30px; 
    
    .order-number {
      font-family: "Hurme Geometric Sans 3 W03 Lt";
      font-size: 1.0rem;
      margin-bottom: 10px;
      display: block;
    }

    .order-date {
      display: block;
    }

    .bold {
      font-family: "Hurme Geometric Sans 3 W03 Bold";
    }
  }

  .order-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ededed;
    text-align: center;
    
    .header-block {
      span {
        font-family: "Hurme Geometric Sans 3 W03 Bold";
      }
    }
    
  }
  .total {
    border-top: 2px solid #ededed;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    margin-top: 40px;
    .total-bold {
      font-family: "Hurme Geometric Sans 3 W03 Bold";
    }
  }
}