.slider {
  margin-bottom: 60px;

  .image-placeholder {
    border-radius: 10px;
    background-color: #E5E5E5;
    width: 100%;
    height: 400px;
    overflow: hidden;

    img {
      border-radius: 10px;
      width: 100%;
    }
  }

  .slick-dots li button:before {
    font-size: 13px;
    line-height: 40px;
  }

}
// .slick-prev:before, .slick-next:before {
//   color: black;
// }

