.slider {
  margin-bottom: 60px;

  .image-placeholder {

    .slider-image {
      border-radius: 10px;
      max-width: 100%;
    }
  }

  .slick-dots li button:before {
    font-size: 13px;
    line-height: 40px;
  }

}
// .slick-prev:before, .slick-next:before {
//   color: black;
// }

