.checkout-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-top: 40px;

  .image-container {
    cursor: pointer;

    img {
      width: 100%;
      height: auto;
    }
  }
  .title,
  .quantity,
  .price,
  .remove {
    margin: auto 0;
  }

  .title {
    cursor: pointer;
  }

  .quantity {
    display: flex;
    justify-content: center;

    .arrow {
      cursor: pointer;
    }

    .value {
      margin: 0 10px;
    }
  }

  .remove {
    cursor: pointer;
  }
}