.breadcrumb-nav {
  display: flex;
  margin-left: 2px;

  h4 {
    font-size: .94rem;
    cursor: pointer;
  }
  .current-page {
    margin-left: 5px;
    font-family: "Cera GR Bold";
    color: #BCBCBC;
  }

}