.alert-container {
  position: relative;
  
  .alert {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 8;
    padding: 3px 0px;

    &.success {
      background-color: #2ab500;
    }

    &.failure {
      background-color: red;
    }

    &.regular {
      background-color: #0080DE;
    }

    .alert-content {
      margin: auto;
      display: flex;
      justify-content: center;
      margin-top: 5px;

      .alert-message {
        font-family: "Hurme Geometric Sans 3 W03 Bold";
        color: white;
        text-align: center;
        padding-bottom: 5px;
      }
    }
  }
}