.nav-dropdown {
  background-color: white;
  position: absolute;
  width: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 2px 1px 10px #c3c3c3;
  top: 52px;
  left: 176px;
  z-index: 5;

  .nav-options {
    margin-top: 10px;
    padding-bottom: 10px;
    
    li {
      margin-top: 5px;
      padding-bottom: 5px;

      .nav-border {
        padding-top: 8px;
        width: 5%;
        border-bottom: 1px #D9D9D9 solid;
        margin: auto;
      }
    }

    .nav-option { 
      font-family: "Cera GR Bold";
      font-size: 1.125rem;
      
      .cart-icon {
        display: flex;
        margin: auto;
      }

      .shopping-icon {
        background-size: 44px;
      }
    }
  }
}