.footer {
  background-color: #F4F2F2;
  margin-top: 200px;

  .footer-content {
    margin: 0 auto;
    text-align: center;
    padding: 0px 100px;
    max-width: 1720px;

    .footer-top {
      padding-top: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        font-size: 2.5rem;
      }
      
      .footer-list {
        display: flex;
        // flex-wrap: wrap;
        justify-content: space-between;

        li {
          margin: 0 5px;
          border-left: black 1px solid;
          padding-left: 10px;
          cursor: pointer;

          &:hover {
            opacity: 0.6;
          }
        }

        li.first {
          border-left: none;
        }

        li.last {
          margin-right: 0;
        }
      }
    }

    .footer-bottom {
      display: flex;
      border-top: 1px #C3C3C3 solid;
      margin-top: 50px;
      padding-bottom: 70px;

      .footer-bottom-text {
        margin-top: 20px;
      }
    }
  }

}