.header {
  margin-top: 20px;
  position: relative;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  .navigation {
    position: relative;
    font-family: "Cera GR Bold";
    font-size: 1.125rem;
  }
  
  .options {
    display: flex;
    align-items: center;

    .option {
      margin-right: 30px;
      &:hover {
        color: #0080DE;
      }
    }
    .option.last {
      margin-right: 20px;
    }
  }
}