.directory-item {
  position: relative;
  cursor: pointer;

  .directory-item-image {

    .image {
      border-radius: 10px;
      max-width: 100%;
      height: auto;
    }
  }

  h4 {
    margin-top: 10px;
    margin-bottom: 2px;
  }
  
  .custom-button {
    display: none;
    width: 90%;
    top: 58%;
    right: 5%;
    position: absolute;
  }

  &:hover {
    .custom-button {
      display: flex;
    }
    
    .image {
      opacity: 0.8;
    }
  }
}