.account-page {
  text-align: left;
  
  h2 {
    margin-top: 20px;
    font-size: 2rem;
  }
  h3 {
    margin: 20px 0 10px;
    font-size: 1.2rem;
  }
  
  .edit-profile {
    font-size: 0.94rem;
  }
  
  .orders-overview {
    margin-top: 30px;

    h4 {
      margin: 20px 0 10px;
      font-size: 1.5rem;
    }

    .orders-seperator {
      border-bottom: 2px solid #ededed;
      margin-bottom: 20px;
      width: 76px;
    }

    .orders-empty-message {
      color: #6A6A6A;

      .shop-link {
        color: #6A6A6A;
        font-family: "Hurme Geometric Sans 3 W03 Bold";

        &:hover {
          color: #0080DE;
        }
      }
    }
  }
}