.account-page {
  text-align: left;
  
  h2 {
    margin-top: 20px;
    font-size: 2rem;
  }
  h3 {
    margin: 20px 0 10px;
    font-size: 1.2rem;
  }
  .orders-overview {
    margin-top: 40px;

    h3 {
      margin-bottom: 40px;
    }
  }
}