.directory-items-container {
  margin-bottom: 60px; 

  h3 {
    display: flex;
    margin-bottom: 30px;
  }

  .directory-items {
    // width: 100%;
    // display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
    // .slick-prev {
    //   left: -32px;
    // }
    
    .slick-prev:before, .slick-next:before {
      color: black;
      // font-size: 28px;
      opacity: 1;
    }

    .slick-slide {
      padding: 0 5px;
    }

    // .slick-prev, .slick-next {
    //   top: 95px;
    // }

    .slick-dots li button:before {
      font-size: 13px;
      line-height: 40px;
    }

    .slick-dots li.slick-active button:before {
      opacity: 1;
    }
  }
}