.directory-items-container {
  margin-bottom: 60px; 

  .directory-items-title {
    display: flex;

    .directory-items-title-link {
      align-items: center;
      font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: bolder;
      font-size: 0.875rem;
      margin-right: 5px;

      &:hover {
        color: #0080DE;
      }
  
    }
    h3 {
      margin-bottom: 30px;
      cursor: pointer;
    }
  }

  .directory-items {
    vertical-align: baseline;

    .slick-prev:before, .slick-next:before {
      // color: black;
      font-size:40px;
      opacity: 1;
    }

    .slick-slide {
      padding: 0 5px;
    }

    .slick-dots li button:before {
      font-size: 13px;
      line-height: 40px;
    }

    .slick-dots li.slick-active button:before {
      opacity: 1;
    }

    .slick-prev {
      left: -42px;
    }
  }
}