.directory-items-container {
  margin-bottom: 60px; 

  .directory-items-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .directory-items-title-link {
      align-items: center;
      font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: bolder;
      font-size: 0.94rem;

      &:hover {
        color: #0080DE;
      }
    }
  }

  h3 {
    margin-bottom: 30px;
  }

  .directory-items {
    // width: 100%;
    // display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
    
    .slick-prev:before, .slick-next:before {
      // color: black;
      font-size:40px;
      opacity: 1;
    }

    .slick-slide {
      padding: 0 5px;
    }

    .slick-dots li button:before {
      font-size: 13px;
      line-height: 40px;
    }

    .slick-dots li.slick-active button:before {
      opacity: 1;
    }

    .slick-prev {
      left: -42px;
    }
  }
}